/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Common style for all */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
hr{
    border: 1px solid #D1D1D1;
}


/* For top players */
main{
    display: flex;
    justify-content: center;
}
.top-container{
    background-color: #fff;
}
.top-players{
    width: 870px;
    margin-bottom: 21px;

}
.top-heading{
    margin-top: 33px;
    padding: 0px 30px;
    color:#562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding: 10px 30px;
}

.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/*--------------------------- 
-------For top Blogs--------- 
----------------------------*/
.top-blogs{
    margin-left: 30px;
}

.top-blogs-heading{

    color:#562EFF;
}
.articles-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
.article-content{
    display: flex;
}
article img{
    width: 177px;
    height: 117px;
}
article a{
    text-decoration: none;
}
.article-text{
    margin-left: 20px;
}
